@font-face { font-family: "Kremlin"; src: url('../fonts/kremlin.ttf') format("truetype"); }

body {
  background-color: white;
  color: black;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

#splashDiv {
  margin: 0 auto;
  background-image: url('../images/monk.jpg');
  background-size: cover;
  z-index: 100;
  height: 820px;
  width: 1460px;
}

h1 {
  padding: 0;
  margin-top: 0;
}

a:visited {
  color: black;
}

.content {
  font-family: "Kremlin", sans-serif;
  margin-left: -10px;
  height: 100vh;
  background-color: white;
  color: black;
  width: 100vw;
  position: absolute;
}

#eye1 {
  left: -2.5%;
  top: 391px;
}

#eye2 {
  left: 3.3%;
  top: 391px;
}

.eye {
  border-radius: 50%;
  background-color: black;
  position: relative;
  display: inline-block;
  width: 57px;
  height: 57px;
  cursor: pointer;
  animation: glow 3s infinite ease-in-out;
}

@keyframes glow {
  50% {background-color: #a50606; }
  100% {background-color: black; }
}

.content h1 {
  font-size: 80px;
}

@keyframes fadeInObject {
  0% {opacity: 0; }
  100% {opacity: 1; }
}
@keyframes fadeOutObject {
  0% {opacity: 1; }
  100% {opacity: 0; }
}

.fadeIn {
  animation: fadeInObject 5s;
}

.bannerImage {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 320px;
  display: inline-block;
  border: 2px solid black;
  background-color: black;
}

#homeDiv {
  background-image: url('../images/pink-sky.jpg');
  background-size: cover;
}


.musicHeader {
  display: inline-block;
  padding-top: 10px;
}

.choice {
  height: 100px;
  width: 300px;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgba(0,0,0,0.5);
  border: 2px ridge white;
  display: inline-block;
  // margin: 0 auto;
  // margin: 25px;
  margin-top: 400px;
  cursor: pointer;
}

.choice h2 {
  font-size: 50px;
  line-height: 30px;
}

.choice:hover {
  background-color: rgba(255,255,255,0.9);
  color: black;
}


#homeLink {
  cursor: pointer;
  margin-top: 40px;
  text-shadow: 5px 5px 5px #999999;
}

#homeLink:hover {
  text-shadow: 5px 5px 5px #555555;
}

#musicDiv {
  background-image: url('../images/black-white-wall.jpg');
  background-size: cover;
}

.galleryImage {
  display: inline-block;
  margin: 10px;
  height: 300px;
  cursor: pointer;
}

.blowUpImage {
  height: 800px;
  cursor: pointer;
}

.backButton {
  font-family: "Kremlin", sans-serif;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  background-color: black;
  color: white;
  display: block;
  margin: 10px auto;
  cursor: pointer;
}

.backButton:hover {
  background-color: rgba(255,255,255,0.5);
  color: black;
}

#audioPlayer {
  height: 616px;
  width: 600px;
  margin-top: -80px;
  margin-bottom: 80px;
  border: 2px solid black;
  display: inline-block;
  margin: 0 auto;
}

#audioArt {
  height: 322px;
  width: 600px;
  display: inline-block;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

#audioArt > img {
  display: inline-block;
  width: 100%;
}

#nowPlaying {
  margin-top: -14px;
  border: ridge silver 5px;
  border-radius: 10px;
  // border-width: 5px 0px 3px 0px;
  height: 88px;
  width: 985px;
  background-color: black;
  color: white;
  line-height: 52px;
  font-size: 44px;
  padding-right: 100px;
  display: inline-block;
}

#trackContainer {
  background-color: #e1d2e0;
  display: inline-block;
  margin: auto;
  border: 10px ridge darkgrey;
  border-radius: 10px;
  width: 380px;
  height: 486px;
  margin-top: 14px;
}

#songList {
  max-height: 314px;
  width: 350px;
  overflow: auto;
  padding: 0px;
  display: inline-block;
  margin: 0 auto;
  margin-top: 80px;
  border: 5px ridge black;
  border-top: 3px ridge black;
}

.song {
  padding: 0px;
  margin-top: -4px;
  color: white;
  height: 50px;
  font-size: 20px;
  font-weight: 900;
  line-height: 50px;
  width: 350px;
  border: solid black;
  border-width: 2px 0px 0px 0px;
  list-style-type: none;
  margin: 0 auto;
  margin-bottom: 0px;
  cursor: pointer;
}

.song:hover {
  background: rgba(121,186,232,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(121,186,232,1) 0%, rgba(55,60,153,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(121,186,232,1)), color-stop(100%, rgba(55,60,153,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(121,186,232,1) 0%, rgba(55,60,153,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(121,186,232,1) 0%, rgba(55,60,153,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(121,186,232,1) 0%, rgba(55,60,153,1) 100%);
  background: radial-gradient(ellipse at center, rgba(121,186,232,1) 0%, rgba(55,60,153,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#79bae8', endColorstr='#373c99', GradientType=1 );
}

i {
  color: white;
  width: 65px;
  line-height: 40px;
  border: 2px solid white;
  border-radius: 100%;
  margin-top: 8px;
  margin-bottom: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer;
  word-break: break-all;
}

i:hover {
  box-shadow: 3px 2px 8px #999999;
  text-shadow: 3px 1px 7px #999999;
  background-color: rgba(255,255,255,0.2);
}

#boombox {
  display: inline-block;
  margin: 0 auto;
  width: 1300px;
  // height: 100%;
  height: 800px;
  background-image: url('../images/boombox.png');
  background-size: cover;
}

#previousButton {
  padding-right: 5px;
}

.disabled {
  opacity: 0.3;
}

#playButton {
  padding-left: 5px;
}

#nextButton {
  padding-left: 5px;
}

.offSong {
  background: rgba(75,164,232,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(75,164,232,1) 0%, rgba(5,12,153,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(75,164,232,1)), color-stop(100%, rgba(5,12,153,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(75,164,232,1) 0%, rgba(5,12,153,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(75,164,232,1) 0%, rgba(5,12,153,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(75,164,232,1) 0%, rgba(5,12,153,1) 100%);
  background: radial-gradient(ellipse at center, rgba(75,164,232,1) 0%, rgba(5,12,153,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ba4e8', endColorstr='#050c99', GradientType=1 );
}

.playingSong, .playingSong:hover {
  background: rgba(85,224,157,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(85,224,157,1) 0%, rgba(20,122,40,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(85,224,157,1)), color-stop(100%, rgba(20,122,40,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(85,224,157,1) 0%, rgba(20,122,40,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(85,224,157,1) 0%, rgba(20,122,40,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(85,224,157,1) 0%, rgba(20,122,40,1) 100%);
  background: radial-gradient(ellipse at center, rgba(85,224,157,1) 0%, rgba(20,122,40,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55e09d', endColorstr='#147a28', GradientType=1 );
}


#progressBar {
  height: 10px;
  width: 600px;
  background-color: blue;
  word-break: break-all;
}

#progress {
  height: 10px;
  background-color: lime;
  float: left;
  word-break: break-all;
}

#duration {
  height: 60px;
  width: 100px;
  color: lime;
  background-color: black;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  float: right;
  line-height: 60px;
  font-size: 18px;
  word-break: break-all;
}

video {
  display: inline-block;
  margin: 0 auto;
}

#gigList {
  height: 700px;
  list-style-type: none;
  overflow: auto;
}

#gigList > li {
  list-style-type: none;
  margin-bottom: 60px;
}

h2.subtitle {
  font-size: 60px;
}
